  .login-form {
    max-width: 450px;
    margin: auto;
    text-align: center;
    margin-top: 7em;
    color: lightgrey;
  }

  .login-form * {
    text-align: center;
    margin: 1em;
  }

  .topic {
    font-size: 25px;
  }