.signup {
    margin-top: 8em;
    text-align: center;
}

.signup-form {
    max-width: 480px;
    margin: auto;
    background-color: white;
    padding: 1em;
    box-shadow: 10px 10px 5px black;
}

.signup-text {
  text-align: left;
  font-size: 14px;
  margin-top: 1em;
}