.login{
    margin-top: 10%;
    text-align: center;
    color: white;
  }

  .login-form {
    width: 30%;
    margin-left: 35%;
    margin-top: 0;
  }
  
  .login-form * {
    text-align: center;
    margin: 2%;
    font-size: 100%;
  }

  .login-form a {
    font-size: 80%;
    color: black;
  }
  
  .login-form button{
    color: white;
    background-color: lightseagreen;
    border: 0;
    padding: 3%;
    font-weight: bold;
    width: 87%;
  }