.signup {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    text-align: center;
  }
  
  .signup-text {
    color: black;
    text-align: left;
    margin-left: 9%;
    margin-bottom: 0;
    font-size: 90%;
  }
  
  .name {
    display: flex;
    margin-left: 8.5%;
    margin-bottom: 0;
    padding-bottom: 0;  
    text-align: left;
  }