.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container * * {
  background-color: white;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 1%;
}

.textfield {
  text-align: left;
  width: 80%;
  padding: 3%;
  color: black;
  font-size: 100%;
}

.signup-btn {
  background-color: lightsalmon;
  border: 0;
  padding: 0.5%;
  font-size: 105%;
  margin-top: 0;
  margin-left: 0.5%;
}

.topic {
  color: black;
  font-size: 150%;
  margin-top: 2%;
}